body {
    font-family: sans-serif;
    background-color: gray;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.textbox {
    width:100px;
    height:150px;
    font-size:16px;
    display:inline-block;
    background-color:yellow;
    font-family:verdana;
    color:red;
}
.mainbox {
    width:500px;
    height:450px;
    font-size:14px;
    display:inline-block;
    background-color: purple;
    font-family:georgia;
    color:orange;
}

.img-medium {
    height: 200px;
}

