body {
    font-family: sans-serif;
    background-color: gray;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.textbox {
    height:150px;
    font-size:16px;
    background-color:yellow;
    font-family:verdana;
    color:red;
    margin-top:10px;
    padding:2px;
}
.box{
    width:1300px;
    height:500px;
    display:inline-block;
    outline:red 1px solid;
}
.mainbox {
    width:500px;
    height:300px;
    font-size:18px;
    display:inline-block;
    background-color: purple;
    font-family:georgia;
    color:red;
    margin-top:10px;
}
.places{
    width: 400px;
    height:300px;
    display:inline-block;
    background-color:lightblue;
    color:red;
}

.img-medium {
    height: 250px;
}

