body {
    font-family: sans-serif;
    background-color:lightgreen;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.textbox {
    width:1500px;
    height:150px;
    font-size:16px;
    background-color:yellow;
    font-family:verdana;
    color:red;
    margin-top:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
    padding:5px;
    outline: red 2px solid;
}
.box{
    width:1510px;
    height:380px;
    display:inline-block;
    outline:red 3px solid;
}
.content{
    width:350px;
    height:360px;
    font-size:18px;
    display:inline-block;
    vertical-align:top;
    background-color: purple;
    font-family:georgia;
    color:red;
    margin-top:10px;
    margin-left: 100px;
    padding-left:5px;
    padding-right:5px;
    outline: pink 2px solid;
    padding:5px;
}
.places{
    width: 200px;
    height:250px;
    display:inline-block;
    vertical-align:top;
    background-color:lightblue;
    outline: blue 2px solid;
    color:red;
    padding:3px;
    margin: 20px;
}
.commentbox{
    width:550px;
    height:350px;
    display:inline-block;
    outline:red 3px solid;

.img-medium {
    height: 300px;
}

